<div class="container mt-5">
  <h1>Restaurants</h1>
<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>
  <% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= restaurant.address %>, Los Angeles</p>
    <hr>
  <% end %>
</div>
